.new-cost__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 0;
  text-align: left;
}

.new-cost__control label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  margin-top: 10px;
  display: flex;
}

.new-cost__control input {
  
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
  display: flex;
  
}

.new-cost__actions {
  text-align: left;
}

button{
  margin-top: 10px;
  margin-bottom: 0px;
}


